@{
    ViewBag.Title = "Configuration";
}

<h1>Configuration</h1>
<p>Via cette interface vous pouvez configurer facilement votre application.</p>
<p>Vous pouvez ajouter supprimer les différentes notifications ainsi que d'autre choix possible.</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4" style="background-color:lavender;">
            
            <div class="container">
                <button type="button" class="btn btn-outline-secondary btn-block">Notifications</button>
                <button type="button" class="btn btn-outline-secondary btn-block">Budget Max-Min</button>
                <br>

                <button type="button" class="btn btn-outline-info btn-block">Liste Des Magasins</button>
                <button type="button" class="btn btn-outline-info btn-block">Moyen De Payement</button>
                <br>

                <button type="button" class="btn btn btn-outline-dark btn-block">Gestion Facture</button>
                <button type="button" class="btn btn btn-outline-dark btn-block">Liste Erreur</button>
                <br><br>

                <button type="button" class="btn btn btn-secondary btn-block">Information</button>
            </div>
        </div>
        <div class="col-sm-8" style="background-color:lavenderblush;">
            .col-sm-3
        </div>
    </div>
</div>    